kuksa_apps/node-red/mqtt/flows.json
[{"id":"3a93bfa4.83653","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"1c0ed5b2.eb6cd2","type":"mqtt-broker","name":"vss","broker":"mybroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e4b5aa8.f5e826","type":"ui_group","name":"Basic","tab":"155b6500.dae29b","order":1,"disp":false,"width":"6","collapse":false},{"id":"412ed4b3.5566bc","type":"ui_group","name":"Grafik","tab":"155b6500.dae29b","order":2,"disp":false,"width":"12","collapse":false},{"id":"155b6500.dae29b","type":"ui_tab","name":"VSS","icon":"dashboard","disabled":false,"hidden":false},{"id":"26f5043e.5d8b8c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6250dbae.d68ce4","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Speed","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":190,"y":220,"wires":[["e133e074.983e08"]]},{"id":"705f5e32.c7f1d","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/FuelLevel","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":210,"y":520,"wires":[["7088d1ce.faa8c"]]},{"id":"1883106d.e2a2f","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/TravelledDistance","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":200,"y":360,"wires":[["8f23fa67.825238"]]},{"id":"47532736.a366d","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/OilTemperature","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":210,"y":720,"wires":[["9625a6d6.041a4"]]},{"id":"e45cc990.68b918","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/DriveTime","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":200,"y":280,"wires":[["b7a8b819.7d1668"]]},{"id":"fc86d921.34d488","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/IsMoving","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":210,"y":420,"wires":[["355c5cb0.635ab4"]]},{"id":"355c5cb0.635ab4","type":"function","z":"3a93bfa4.83653","name":"","func":"msg.color = (JSON.parse(msg.payload.toLowerCase()))?\"green\":\"red\"\nmsg.payload = msg.color\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["4e9f2749.c3cb8"]]},{"id":"8f23fa67.825238","type":"ui_text","z":"3a93bfa4.83653","group":"2e4b5aa8.f5e826","order":1,"width":0,"height":0,"name":"","label":"Travelled Distance","format":"{{msg.payload}} km","layout":"row-spread","x":570,"y":360,"wires":[]},{"id":"b7a8b819.7d1668","type":"ui_text","z":"3a93bfa4.83653","group":"2e4b5aa8.f5e826","order":3,"width":0,"height":0,"name":"","label":"Drive time","format":"{{msg.payload}} s","layout":"row-spread","x":600,"y":280,"wires":[]},{"id":"e133e074.983e08","type":"ui_gauge","z":"3a93bfa4.83653","name":"","group":"2e4b5aa8.f5e826","order":12,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"km/h","format":"{{value}}","min":"-250","max":"250","colors":["#216cc6","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"7088d1ce.faa8c","type":"ui_gauge","z":"3a93bfa4.83653","name":"","group":"2e4b5aa8.f5e826","order":8,"width":0,"height":0,"gtype":"wave","title":"Fuel Level","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":520,"wires":[]},{"id":"9625a6d6.041a4","type":"ui_chart","z":"3a93bfa4.83653","name":"","group":"412ed4b3.5566bc","order":2,"width":0,"height":0,"label":"Oil Temperature","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"celsius","dot":true,"ymin":"-20","ymax":"200","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5aa0d0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":720,"wires":[[]]},{"id":"4e9f2749.c3cb8","type":"ui_template","z":"3a93bfa4.83653","group":"2e4b5aa8.f5e826","name":"Moving","order":5,"width":0,"height":0,"format":"<p class=\"label ng-binding\">Moving\n<svg  width=32px height=32px style=\"margin-left: 200px;\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n</p>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":640,"y":440,"wires":[[]]},{"id":"4ab6bbb9.5ab80c","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/Speed","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":240,"y":140,"wires":[["e133e074.983e08"]]},{"id":"3849baf5.5e2996","type":"function","z":"3a93bfa4.83653","name":"parse lat","func":"flow.set(\"lat\", msg.payload);\nreturn {\n  payload: {\n    lat: msg.payload,\n    name: \"kuksa\",\n    popped: false\n  }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":580,"wires":[["e3c3c94c.8c47b8"]]},{"id":"f709dadb.a32ff8","type":"function","z":"3a93bfa4.83653","name":"parse lon","func":"flow.set(\"lon\", msg.payload);\nreturn {\n  payload: {\n    lon: msg.payload,\n    name: \"kuksa\",\n    popped: false\n  }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":660,"wires":[["e3c3c94c.8c47b8"]]},{"id":"403a873a.53b7b","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Cabin/Infotainment/Navigation/CurrentLocation/Longitude","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":320,"y":660,"wires":[["f709dadb.a32ff8"]]},{"id":"1c3e3e3c.533702","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Cabin/Infotainment/Navigation/CurrentLocation/Latitude","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":340,"y":600,"wires":[["3849baf5.5e2996"]]},{"id":"e3c3c94c.8c47b8","type":"ui_worldmap","z":"3a93bfa4.83653","group":"412ed4b3.5566bc","order":1,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1020,"y":620,"wires":[]},{"id":"10b25507.c97d4b","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Cabin/Infotainment/Navigation/CurrentLocation/Speed","qos":"2","datatype":"auto","broker":"1c0ed5b2.eb6cd2","x":350,"y":100,"wires":[["fd7611a7.39db3"]]},{"id":"fd7611a7.39db3","type":"ui_gauge","z":"3a93bfa4.83653","name":"","group":"2e4b5aa8.f5e826","order":12,"width":0,"height":0,"gtype":"gage","title":"GPS Speed","label":"km/h","format":"{{value}}","min":"-250","max":"250","colors":["#216cc6","#e6e600","#ca3838"],"seg1":"","seg2":"","x":818,"y":150,"wires":[]}]