examples/node-red/mqtt-examples.json
[
    {
        "id": "3a93bfa4.83653",
        "type": "tab",
        "label": "mqtt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6250dbae.d68ce4",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/Speed",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "e133e074.983e08"
            ]
        ]
    },
    {
        "id": "dd58caac.952898",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/emissionsCO2",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "980f2980.f5617"
            ]
        ]
    },
    {
        "id": "705f5e32.c7f1d",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/FuelLevel",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "7088d1ce.faa8c"
            ]
        ]
    },
    {
        "id": "e133e074.983e08",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "2e4b5aa8.f5e826",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": "-250",
        "max": "250",
        "colors": [
            "#216cc6",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "980f2980.f5617",
        "type": "ui_chart",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "412ed4b3.5566bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Emission CO2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7088d1ce.faa8c",
        "type": "ui_gauge",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "2e4b5aa8.f5e826",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Fuel Level",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "1883106d.e2a2f",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/TravelledDistance",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "8f23fa67.825238"
            ]
        ]
    },
    {
        "id": "8f23fa67.825238",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Travelled Distance",
        "format": "{{msg.payload}} km",
        "layout": "row-spread",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "47532736.a366d",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/OBD/OilTemperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "9625a6d6.041a4"
            ]
        ]
    },
    {
        "id": "9625a6d6.041a4",
        "type": "ui_chart",
        "z": "3a93bfa4.83653",
        "name": "",
        "group": "412ed4b3.5566bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Oil Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "celsius",
        "dot": true,
        "ymin": "-20",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5aa0d0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e45cc990.68b918",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/DriveTime",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "b7a8b819.7d1668"
            ]
        ]
    },
    {
        "id": "b7a8b819.7d1668",
        "type": "ui_text",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Drive time",
        "format": "{{msg.payload}} s",
        "layout": "row-spread",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "fc86d921.34d488",
        "type": "mqtt in",
        "z": "3a93bfa4.83653",
        "name": "",
        "topic": "vss/Vehicle/IsMoving",
        "qos": "2",
        "datatype": "auto",
        "broker": "1c0ed5b2.eb6cd2",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "355c5cb0.635ab4"
            ]
        ]
    },
    {
        "id": "355c5cb0.635ab4",
        "type": "function",
        "z": "3a93bfa4.83653",
        "name": "",
        "func": "msg.color = (JSON.parse(msg.payload.toLowerCase()))?\"green\":\"red\"\nmsg.payload = msg.color\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "4e9f2749.c3cb8"
            ]
        ]
    },
    {
        "id": "4e9f2749.c3cb8",
        "type": "ui_template",
        "z": "3a93bfa4.83653",
        "group": "2e4b5aa8.f5e826",
        "name": "Moving",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<p class=\"label ng-binding\">Moving\n<svg  width=32px height=32px style=\"margin-left: 200px;\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n</p>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1c0ed5b2.eb6cd2",
        "type": "mqtt-broker",
        "z": "",
        "name": "vss",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e4b5aa8.f5e826",
        "type": "ui_group",
        "z": "",
        "name": "Basic",
        "tab": "155b6500.dae29b",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "412ed4b3.5566bc",
        "type": "ui_group",
        "z": "",
        "name": "Grafik",
        "tab": "155b6500.dae29b",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "155b6500.dae29b",
        "type": "ui_tab",
        "z": "",
        "name": "VSS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]