examples/node-red/mqtt-examples.json
[
    {
        "id": "b3530491.3bf708",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a07005c9.d3b4d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "vss",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d122198f.7ac6d",
        "type": "ui_tab",
        "z": "",
        "name": "VSS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d1e91f4.3481e",
        "type": "ui_group",
        "z": "",
        "name": "Grafik",
        "tab": "d122198f.7ac6d",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "99353bbb.93b13",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "65a18b2a.4cb3b4",
        "type": "websocket-client",
        "z": "",
        "path": "wss://localhost:8090",
        "tls": "384867a2.f463f",
        "wholemsg": "false"
    },
    {
        "id": "90f01902.cf6fb",
        "type": "ui_group",
        "z": "",
        "name": "Basic",
        "tab": "d122198f.7ac6d",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "384867a2.f463f",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Client.pem",
        "keyname": "Client.key",
        "caname": "CA.pem",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "d94eb012.c27f48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aefea893.d14918",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "93d9d39e.fe4958",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "90f01902.cf6fb",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b6dfd5a.fd7194",
        "type": "mqtt in",
        "z": "b3530491.3bf708",
        "name": "",
        "topic": "vss/Vehicle/Speed",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07005c9.d3b4d8",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "77a0d0ea.95999"
            ]
        ]
    },
    {
        "id": "2f9f5ad4.a7926e",
        "type": "mqtt in",
        "z": "b3530491.3bf708",
        "name": "",
        "topic": "vss/Vehicle/emissionsCO2",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07005c9.d3b4d8",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "c7027c8c.70637"
            ]
        ]
    },
    {
        "id": "eb68704e.0c2f68",
        "type": "mqtt in",
        "z": "b3530491.3bf708",
        "name": "",
        "topic": "vss/Vehicle/OBD/FuelLevel",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07005c9.d3b4d8",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "bd715009.4fcce8"
            ]
        ]
    },
    {
        "id": "77a0d0ea.95999",
        "type": "ui_gauge",
        "z": "b3530491.3bf708",
        "name": "",
        "group": "90f01902.cf6fb",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Spped",
        "label": "km/h",
        "format": "{{value}}",
        "min": "-250",
        "max": "250",
        "colors": [
            "#216cc6",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "c7027c8c.70637",
        "type": "ui_chart",
        "z": "b3530491.3bf708",
        "name": "",
        "group": "4d1e91f4.3481e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Emission CO2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "bd715009.4fcce8",
        "type": "ui_gauge",
        "z": "b3530491.3bf708",
        "name": "",
        "group": "90f01902.cf6fb",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Fuel Level",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "c2effc7b.97abe8",
        "type": "mqtt in",
        "z": "b3530491.3bf708",
        "name": "",
        "topic": "vss/Vehicle/TravelledDistance",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07005c9.d3b4d8",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "e78da493.076ec"
            ]
        ]
    },
    {
        "id": "e78da493.076ec",
        "type": "ui_text",
        "z": "b3530491.3bf708",
        "group": "90f01902.cf6fb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Travelled Distance",
        "format": "{{msg.payload}} km",
        "layout": "row-spread",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "e1197de2.373bb8",
        "type": "websocket out",
        "z": "b3530491.3bf708",
        "name": "",
        "server": "",
        "client": "65a18b2a.4cb3b4",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "39f7f157.0d9896",
        "type": "file in",
        "z": "b3530491.3bf708",
        "name": "",
        "filename": "tokenfile",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "c559b37d.2746d8"
            ]
        ]
    },
    {
        "id": "c559b37d.2746d8",
        "type": "json",
        "z": "b3530491.3bf708",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "e1197de2.373bb8"
            ]
        ]
    },
    {
        "id": "dfca4acf.277298",
        "type": "mqtt in",
        "z": "b3530491.3bf708",
        "name": "",
        "topic": "vss/Vehicle/OBD/OilTemperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07005c9.d3b4d8",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "ff08e073.e73c"
            ]
        ]
    },
    {
        "id": "ff08e073.e73c",
        "type": "ui_chart",
        "z": "b3530491.3bf708",
        "name": "",
        "group": "4d1e91f4.3481e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Oil Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "celsius",
        "dot": true,
        "ymin": "-20",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5aa0d0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ae4bf5f7.cebf",
        "type": "mqtt in",
        "z": "b3530491.3bf708",
        "name": "",
        "topic": "vss/Vehicle/DriveTime",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07005c9.d3b4d8",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "ae6e9cc8.2cc97"
            ]
        ]
    },
    {
        "id": "ae6e9cc8.2cc97",
        "type": "ui_text",
        "z": "b3530491.3bf708",
        "group": "90f01902.cf6fb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Drive time",
        "format": "{{msg.payload}} s",
        "layout": "row-spread",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "d6e89caa.d11138",
        "type": "mqtt in",
        "z": "b3530491.3bf708",
        "name": "",
        "topic": "vss/Vehicle/IsMoving",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07005c9.d3b4d8",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "e3bd3499.586b08"
            ]
        ]
    },
    {
        "id": "e3bd3499.586b08",
        "type": "function",
        "z": "b3530491.3bf708",
        "name": "",
        "func": "msg.color = (JSON.parse(msg.payload.toLowerCase()))?\"green\":\"red\"\nmsg.payload = msg.color\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "77a82c7b.2a4634"
            ]
        ]
    },
    {
        "id": "77a82c7b.2a4634",
        "type": "ui_template",
        "z": "b3530491.3bf708",
        "group": "90f01902.cf6fb",
        "name": "Moving",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p class=\"label ng-binding\">Moving\n<svg  width=32px height=32px style=\"margin-left: 200px;\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n</p>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    }
]