examples/node-red/websocket-subscription.json
[{"id":"753b87c3.ecf3c","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"ad27f2b5.f2375","type":"websocket out","z":"753b87c3.ecf3c","name":"","server":"","client":"d832fa0b.963258","x":710,"y":140,"wires":[]},{"id":"a87d9520.c61118","type":"inject","z":"753b87c3.ecf3c","name":"authorize","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"authorize\",\"tokens\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJrdWtzYS52YWwiLCJpc3MiOiJFY2xpcHNlIEtVS1NBIERldiIsImFkbWluIjp0cnVlLCJtb2RpZnlUcmVlIjp0cnVlLCJpYXQiOjE1MTYyMzkwMjIsImV4cCI6MTYwNjIzOTAyMiwia3Vrc2EtdnNzIjp7IioiOiJydyJ9fQ.XJ51r3dd3S7DX7ekzFDF9kHEss__voK8Fgs7DDeSPa1lw51S8l59TKiYj2isHvc7RxG6zbKGSY12UbYqsJW62CNQMQVJw0IupczpdFkuv9-nesvmhMrV40vupe2YD9ruuY-DK8WgY7ti7us6kJ4DYhbMOjtiB8hYaVwiSOdn4r8uWTghbleF9fc6Lvi_igM-lopZU8VZmQCIB5koFRJ-Z7HFg2ZjaD5SX2mWhE2ZhXE07CKpv0aplqlqtqBCf38zQ7Nk05YliNIijhvT35Ge0OL4B4fqeixXbpRkAUBlhy5f0oypeBnBr3XaM7akJa1W91H8ANj_mdELIATXfEfEzxD9dd8YvQZi43vVF3KYIJLL09EIAGKKccom4l7XJORiTKcQt4EfSh1I2IYhsZSB8uNwIEPx7h8HqUDXp6y_eBdy13W48hnT4hJ5HH0hTfIE5VEPTJPmlPlX1coGgFa8zXmL85uElgHUJwL_3PbFB_O8wqy0fiXayqOa09bjUbX3ux3BGZI6Lji2o0q8JW6OHCW4YilhgyfJC3m4kZAxe1S1IGQVQXBlq0JHmPFkJmf3BClPAhBh1tpPpSwz8ppuGZ85asRnkDH2sYoMWjandO1s_oKskplPESGQ3h1lyU9fLvpp_0yJSlrv07CnzKLeXKS8QYiO30YbkTCdGxlSae8\",\"requestId\":1238}","payloadType":"json","x":180,"y":60,"wires":[["ad27f2b5.f2375"]]},{"id":"f29a189e.c4811","type":"websocket in","z":"753b87c3.ecf3c","name":"","server":"","client":"d832fa0b.963258","x":170,"y":520,"wires":[["245b09a1.c71c7e"]]},{"id":"b8995de.60ae12","type":"debug","z":"753b87c3.ecf3c","name":"not an action","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":840,"wires":[]},{"id":"f5794f34.4cc8a","type":"complete","z":"753b87c3.ecf3c","name":"","scope":["e61db95c.2d14f8","2b51be4d.c8efaa"],"uncaught":false,"x":1130,"y":140,"wires":[[]]},{"id":"e618236f.e8e708","type":"inject","z":"753b87c3.ecf3c","name":"subscribe Vehicle.OBD.Speed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.OBD.Speed\",\"requestId\":2}","payloadType":"json","x":230,"y":120,"wires":[["ad27f2b5.f2375"]]},{"id":"fb4214f3.39712","type":"ui_gauge","z":"753b87c3.ecf3c","name":"","group":"2e4b5aa8.f5e826","order":6,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":"-250","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2030,"y":440,"wires":[]},{"id":"a123267e.16e4a","type":"switch","z":"753b87c3.ecf3c","name":"handle msg","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"error","vt":"str"},{"t":"hask","v":"action","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":590,"y":680,"wires":[["b39725f2.fb177"],["29405fb6.8e6468"],["b8995de.60ae12"]]},{"id":"245b09a1.c71c7e","type":"json","z":"753b87c3.ecf3c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":700,"wires":[["a123267e.16e4a"]]},{"id":"29405fb6.8e6468","type":"switch","z":"753b87c3.ecf3c","name":"handle action","property":"payload[\"action\"]","propertyType":"msg","rules":[{"t":"eq","v":"authorize","vt":"str"},{"t":"eq","v":"subscribe","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":830,"y":640,"wires":[["2b51be4d.c8efaa"],["bb1d8477.5f4348"],["f478c70.cc1d738"]]},{"id":"2b51be4d.c8efaa","type":"debug","z":"753b87c3.ecf3c","name":"authorized","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":500,"wires":[]},{"id":"f478c70.cc1d738","type":"debug","z":"753b87c3.ecf3c","name":"other actions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":740,"wires":[]},{"id":"b39725f2.fb177","type":"debug","z":"753b87c3.ecf3c","name":"print error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":340,"wires":[]},{"id":"20016f1f.dc6228","type":"ui_text","z":"753b87c3.ecf3c","group":"2e4b5aa8.f5e826","order":2,"width":0,"height":0,"name":"","label":"Drive time","format":"{{msg.payload}} s","layout":"row-spread","x":2080,"y":580,"wires":[]},{"id":"59b3cc3b.a8ecb4","type":"ui_text","z":"753b87c3.ecf3c","group":"2e4b5aa8.f5e826","order":1,"width":0,"height":0,"name":"","label":"Travelled Distance","format":"{{msg.payload}} km","layout":"row-spread","x":2070,"y":660,"wires":[]},{"id":"abd891d1.6b90c8","type":"ui_template","z":"753b87c3.ecf3c","group":"2e4b5aa8.f5e826","name":"Moving","order":3,"width":0,"height":0,"format":"<p class=\"label ng-binding\">Moving\n<svg  width=32px height=32px style=\"margin-left: 200px;\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n</p>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":2080,"y":760,"wires":[[]]},{"id":"adc654ce.5ddc2","type":"ui_gauge","z":"753b87c3.ecf3c","name":"","group":"2e4b5aa8.f5e826","order":6,"width":0,"height":0,"gtype":"wave","title":"Fuel Level","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2070,"y":520,"wires":[]},{"id":"17528a13.e347ae","type":"inject","z":"753b87c3.ecf3c","name":"subscribe Vehicle.OBD.FuelLevel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.OBD.FuelLevel\",\"requestId\":3}","payloadType":"json","x":240,"y":180,"wires":[["ad27f2b5.f2375"]]},{"id":"d377da5c.81d4e","type":"inject","z":"753b87c3.ecf3c","name":"subscribe Vehicle.DriveTime","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.DriveTime\",\"requestId\":4}","payloadType":"json","x":220,"y":240,"wires":[["ad27f2b5.f2375"]]},{"id":"84d0372.8e96ec8","type":"inject","z":"753b87c3.ecf3c","name":"subscribe Vehicle.TravelledDistance","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.TravelledDistance\",\"requestId\":5}","payloadType":"json","x":230,"y":300,"wires":[["ad27f2b5.f2375"]]},{"id":"1d5c1a1.2bdee66","type":"inject","z":"753b87c3.ecf3c","name":"subscribe Vehicle.IsMoving","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.IsMoving\",\"requestId\":6}","payloadType":"json","x":240,"y":360,"wires":[["ad27f2b5.f2375"]]},{"id":"bb1d8477.5f4348","type":"switch","z":"753b87c3.ecf3c","name":"handle subscribe","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"requestId","vt":"str"},{"t":"hask","v":"value","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1110,"y":620,"wires":[["8ad0f0b7.9627d8"],["da19329d.2b3ad"],["b86a5c2b.c503e8"]]},{"id":"b86a5c2b.c503e8","type":"debug","z":"753b87c3.ecf3c","name":"Other subscribe msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":720,"wires":[]},{"id":"da19329d.2b3ad","type":"function","z":"753b87c3.ecf3c","name":"parse value","func":"var requestId = flow.get(\"s\"+msg.payload[\"subscriptionId\"])\n//msg.payload = { \"value\": msg.payload[\"value\"], \"requestId\" : requestId}\nmsg.topic = requestId\nmsg.payload = msg.payload[\"value\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":600,"wires":[["42409c4a.6a4e94"]]},{"id":"42370185.3a3ad","type":"debug","z":"753b87c3.ecf3c","name":"new flow entry","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":340,"wires":[]},{"id":"8ad0f0b7.9627d8","type":"function","z":"753b87c3.ecf3c","name":"store subscriptionId","func":"var subscriptionId = \"s\"+msg.payload[\"subscriptionId\"]\nvar requestId = msg.payload[\"requestId\"]\nflow.set(subscriptionId, requestId);\nreturn {\"payload\": {\"subscriptionId\": subscriptionId, \"requestId\": requestId}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":400,"wires":[["42370185.3a3ad"]]},{"id":"42409c4a.6a4e94","type":"switch","z":"753b87c3.ecf3c","name":"handle value","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":1690,"y":520,"wires":[["fb4214f3.39712"],["adc654ce.5ddc2"],["20016f1f.dc6228"],["59b3cc3b.a8ecb4"],["abd891d1.6b90c8"],["5bbba48.9b271dc"]]},{"id":"5bbba48.9b271dc","type":"debug","z":"753b87c3.ecf3c","name":"other value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2010,"y":920,"wires":[]},{"id":"d832fa0b.963258","type":"websocket-client","z":"","path":"ws://127.0.0.1:8090","tls":"","wholemsg":"false"},{"id":"2e4b5aa8.f5e826","type":"ui_group","z":"","name":"Basic","tab":"155b6500.dae29b","order":1,"disp":false,"width":"6","collapse":false},{"id":"155b6500.dae29b","type":"ui_tab","z":"","name":"VSS","icon":"dashboard","disabled":false,"hidden":false}]