kuksa_apps/node-red/websocket-subscription.json
[{"id":"cf042400.bafb48","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"d832fa0b.963258","type":"websocket-client","path":"wss://127.0.0.1:8090","tls":"6cf19fdf.ee7f78","wholemsg":"false"},{"id":"2e4b5aa8.f5e826","type":"ui_group","name":"Basic","tab":"155b6500.dae29b","order":1,"disp":false,"width":"6","collapse":false},{"id":"412ed4b3.5566bc","type":"ui_group","name":"Grafik","tab":"155b6500.dae29b","order":2,"disp":false,"width":"12","collapse":false},{"id":"6cf19fdf.ee7f78","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"Client.pem","keyname":"Client.key","caname":"CA.pem","servername":"","verifyservercert":false},{"id":"155b6500.dae29b","type":"ui_tab","name":"VSS","icon":"dashboard","disabled":false,"hidden":false},{"id":"a51f4002.3ffbd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d5700f3d.50134","type":"websocket out","z":"cf042400.bafb48","name":"","server":"","client":"d832fa0b.963258","x":930,"y":100,"wires":[]},{"id":"a480d57e.4565b8","type":"inject","z":"cf042400.bafb48","name":"authorize","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"authorize\",\"tokens\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJrdWtzYS52YWwiLCJpc3MiOiJFY2xpcHNlIEtVS1NBIERldiIsImFkbWluIjp0cnVlLCJtb2RpZnlUcmVlIjp0cnVlLCJpYXQiOjE1MTYyMzkwMjIsImV4cCI6MTc2NzIyNTU5OSwia3Vrc2EtdnNzIjp7IioiOiJydyJ9fQ.p2cnFGH16QoQ14l6ljPVKggFXZKmD-vrw8G6Vs6DvAokjsUG8FHh-F53cMsE-GDjyZH_1_CrlDCnbGlqjsFbgAylqA7IAJWp9_N6dL5p8DHZTwlZ4IV8L1CtCALs7XVqvcQKHCCzB63Y8PgVDCAqpQSRb79JPVD4pZwkBKpOknfEY5y9wfbswZiRKdgz7o61_oFnd-yywpse-23HD6v0htThVF1SuGL1PuvGJ8p334nt9bpkZO3gaTh1xVD_uJMwHzbuBCF33_f-I5QMZO6bVooXqGfe1zvl3nDrPEjq1aPulvtP8RgREYEqE6b2hB8jouTiC_WpE3qrdMw9sfWGFbm04qC-2Zjoa1yYSXoxmYd0SnliSYHAad9aXoEmFENezQV-of7sc-NX1-2nAXRAEhaqh0IRuJwB4_sG7SvQmnanwkz-sBYxKqkoFpOsZ6hblgPDOPYY2NAsZlYkjvAL2mpiInrsmY_GzGsfwPeAx31iozImX75rao8rm-XucAmCIkRlpBz6MYKCjQgyRz3UtZCJ2DYF4lKqTjphEAgclbYZ7KiCuTn9HualwtEmVzHHFneHMKl7KnRQk-9wjgiyQ5nlsVpCCblg6JKr9of4utuPO3cBvbjhB4_ueQ40cpWVOICcOLS7_w0i3pCq1ZKDEMrYDJfz87r2sU9kw1zeFQk\",\"requestId\":\"1238\"}","payloadType":"json","x":180,"y":60,"wires":[["d5700f3d.50134"]]},{"id":"2eb26ebf.5665e2","type":"websocket in","z":"cf042400.bafb48","name":"","server":"","client":"d832fa0b.963258","x":170,"y":620,"wires":[["a4f4807c.2c99b"]]},{"id":"8eedf80a.2f1fb8","type":"debug","z":"cf042400.bafb48","name":"not an action","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":840,"wires":[]},{"id":"6a9fdd96.159674","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.Speed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.Speed\",\"requestId\":\"2\"}","payloadType":"json","x":230,"y":120,"wires":[["d5700f3d.50134"]]},{"id":"efc01e17.74d33","type":"ui_gauge","z":"cf042400.bafb48","name":"","group":"2e4b5aa8.f5e826","order":9,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":"-250","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2030,"y":440,"wires":[]},{"id":"76dc15e7.904dcc","type":"switch","z":"cf042400.bafb48","name":"handle msg","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"error","vt":"str"},{"t":"hask","v":"action","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":590,"y":680,"wires":[["9a2f38ba.4f5ad8"],["431f1723.2cb7e8"],["8eedf80a.2f1fb8"]]},{"id":"a4f4807c.2c99b","type":"json","z":"cf042400.bafb48","name":"","property":"payload","action":"","pretty":false,"x":390,"y":700,"wires":[["76dc15e7.904dcc"]]},{"id":"431f1723.2cb7e8","type":"switch","z":"cf042400.bafb48","name":"handle action","property":"payload[\"action\"]","propertyType":"msg","rules":[{"t":"eq","v":"authorize","vt":"str"},{"t":"eq","v":"subscribe","vt":"str"},{"t":"eq","v":"subscription","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":640,"wires":[["171ec5e2.d323ea"],["dad05835.905838"],["3a9fc58c.fdf5ea"],["d1c55b0b.b78238"]]},{"id":"171ec5e2.d323ea","type":"debug","z":"cf042400.bafb48","name":"authorized","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":500,"wires":[]},{"id":"d1c55b0b.b78238","type":"debug","z":"cf042400.bafb48","name":"other actions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":740,"wires":[]},{"id":"9a2f38ba.4f5ad8","type":"debug","z":"cf042400.bafb48","name":"print error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":540,"wires":[]},{"id":"a1835f2a.6d886","type":"ui_text","z":"cf042400.bafb48","group":"2e4b5aa8.f5e826","order":4,"width":0,"height":0,"name":"","label":"Drive time","format":"{{msg.payload}} s","layout":"row-spread","x":2080,"y":580,"wires":[]},{"id":"82dc3aaf.5607c8","type":"ui_text","z":"cf042400.bafb48","group":"2e4b5aa8.f5e826","order":2,"width":0,"height":0,"name":"","label":"Travelled Distance","format":"{{msg.payload}} km","layout":"row-spread","x":2070,"y":660,"wires":[]},{"id":"6d9c64c.068ab9c","type":"ui_template","z":"cf042400.bafb48","group":"2e4b5aa8.f5e826","name":"Moving","order":6,"width":0,"height":0,"format":"<p class=\"label ng-binding\">Moving\n<svg  width=32px height=32px style=\"margin-left: 200px;\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n</p>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":2080,"y":760,"wires":[[]]},{"id":"67123fc6.c7f","type":"ui_gauge","z":"cf042400.bafb48","name":"","group":"2e4b5aa8.f5e826","order":11,"width":0,"height":0,"gtype":"wave","title":"Fuel Level","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2070,"y":520,"wires":[]},{"id":"b54021a9.62919","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.OBD.FuelLevel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.OBD.FuelLevel\",\"requestId\":\"3\"}","payloadType":"json","x":240,"y":180,"wires":[["d5700f3d.50134"]]},{"id":"eb444072.4129f","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.DriveTime","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.DriveTime\",\"requestId\":\"4\"}","payloadType":"json","x":220,"y":240,"wires":[["d5700f3d.50134"]]},{"id":"b1cee1df.e38f9","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.TravelledDistance","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.TravelledDistance\",\"requestId\":\"5\"}","payloadType":"json","x":230,"y":300,"wires":[["d5700f3d.50134"]]},{"id":"a63b39f9.bd2f38","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.IsMoving","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.IsMoving\",\"requestId\":\"6\"}","payloadType":"json","x":240,"y":360,"wires":[["d5700f3d.50134"]]},{"id":"3a9fc58c.fdf5ea","type":"function","z":"cf042400.bafb48","name":"parse value","func":"var requestId = flow.get(\"s\"+msg.payload[\"subscriptionId\"])\n//msg.payload = { \"value\": msg.payload[\"value\"], \"requestId\" : requestId}\nmsg.topic = requestId\nmsg.payload = Number(msg.payload[\"data\"][\"dp\"][\"value\"])\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":640,"wires":[["72bc48a5.ba1648","ffe2613a.e8258"]]},{"id":"fafa69f9.722168","type":"debug","z":"cf042400.bafb48","name":"new flow entry","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":340,"wires":[]},{"id":"dad05835.905838","type":"function","z":"cf042400.bafb48","name":"store subscriptionId","func":"var subscriptionId = \"s\"+msg.payload[\"subscriptionId\"]\nvar requestId = msg.payload[\"requestId\"]\nflow.set(subscriptionId, requestId);\nreturn {\"payload\": {\"subscriptionId\": subscriptionId, \"requestId\": requestId}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":520,"wires":[["fafa69f9.722168"]]},{"id":"72bc48a5.ba1648","type":"switch","z":"cf042400.bafb48","name":"handle value","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":10,"x":1690,"y":520,"wires":[["efc01e17.74d33"],["67123fc6.c7f"],["a1835f2a.6d886"],["82dc3aaf.5607c8"],["6d9c64c.068ab9c"],[],["dc3bfc12.bbb57"],["42f8727a.343abc"],["915cc37d.ca142"],["a5795e1a.84bbe"]]},{"id":"a5795e1a.84bbe","type":"debug","z":"cf042400.bafb48","name":"other value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1930,"y":1000,"wires":[]},{"id":"e5e2f864.692728","type":"ui_worldmap","z":"cf042400.bafb48","group":"412ed4b3.5566bc","order":11,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"0","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":2220,"y":840,"wires":[]},{"id":"40444402.7f3fcc","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Altitude","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Altitude\",\"requestId\":\"7\"}","payloadType":"json","x":320,"y":420,"wires":[["d5700f3d.50134"]]},{"id":"e9cbc898.f080a8","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Latitude","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Latitude\",\"requestId\":\"8\"}","payloadType":"json","x":320,"y":460,"wires":[["d5700f3d.50134"]]},{"id":"97881c7c.78001","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Longitude","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Longitude\",\"requestId\":\"9\"}","payloadType":"json","x":330,"y":520,"wires":[["d5700f3d.50134"]]},{"id":"42f8727a.343abc","type":"function","z":"cf042400.bafb48","name":"parse lon","func":"flow.set(\"lon\", msg.payload);\nreturn {\n  payload: {\n    lon: msg.payload,\n    name: \"kuksa\",\n    popped: false\n  }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":880,"wires":[["e5e2f864.692728"]]},{"id":"dc3bfc12.bbb57","type":"function","z":"cf042400.bafb48","name":"parse lat","func":"flow.set(\"lat\", msg.payload);\nreturn {\n  payload: {\n    lat: msg.payload,\n    name: \"kuksa\",\n    popped: false\n  }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":820,"wires":[["e5e2f864.692728"]]},{"id":"f3ca90da.1ed93","type":"inject","z":"cf042400.bafb48","name":"subscribe Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Speed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"{\"action\":\"subscribe\",\"path\":\"Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Speed\",\"requestId\":\"10\"}","payloadType":"json","x":300,"y":560,"wires":[["d5700f3d.50134"]]},{"id":"915cc37d.ca142","type":"ui_gauge","z":"cf042400.bafb48","name":"","group":"412ed4b3.5566bc","order":10,"width":"3","height":"3","gtype":"gage","title":"GPS Speed","label":"units","format":"{{value}}","min":"-250","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1990,"y":940,"wires":[]},{"id":"ffe2613a.e8258","type":"debug","z":"cf042400.bafb48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1600,"y":680,"wires":[]}]